<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>User Dashboard</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    />
    <style>
      html,
      body {
        height: 100%;
        background-color: #f2f2f2; /* Light gray background color */
      }
      .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
      h2 {
        margin-bottom: 20px; /* Add margin below the title */
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div>
        <h2>Welcome to Your Dashboard</h2>
        <a href="/favorite-channels" class="btn btn-info btn-block"
          >Favorite Channels</a
        >
        <a href="/viewable-channels" class="btn btn-info btn-block"
          >Viewable Channels</a
        >
        <a href="/covered-favorite-channels" class="btn btn-info btn-block"
          >Covered Favorite Channels</a
        >
        <a href="/filter-channels" class="btn btn-info btn-block"
          >Filter Channels</a
        >
        <a href="/top-networks" class="btn btn-info btn-block"
          >Top 5 Tv Networks</a
        >
        <a href="/top-rockets" class="btn btn-info btn-block">Top 5 Rockets</a>
        <a href="/top-growing-satellites" class="btn btn-info btn-block"
          >Top 5 Growing Satellites</a
        >
        <a href="/top-channels-by-language" class="btn btn-info btn-block"
          >Top 5 Channels by Lang</a
        >
      </div>
    </div>
  </body>
</html>
